{% schema %}
  {
    "name": "Custom Navigation",
    "class": "custom-navigation",
    "settings": [],
    "presets": []
  }
{% endschema %}

{% assign link_list = section.settings.links %}
{% assign button_style = section.settings.button_style %}
{% assign active_style = section.settings.active_style %}
{% assign hover_style = section.settings.hover_style %}
{% assign click_style = section.settings.click_style %}

<div class="custom-navigation-container">
  <ul class="custom-navigation-link-list">
    {% for link in link_list %}
      <li>
        <a href="{{ link.url }}" class="custom-navigation-button{% if link.active %} {{ active_style }}{% endif %}" {% if hover_style %}data-hover="{{ hover_style }}"{% endif %} {% if click_style %}data-click="{{ click_style }}"{% endif %}>{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% stylesheet %}
.custom-navigation-container {
  
}

.custom-navigation-link-list {

}

.custom-navigation-button {

}

.custom-navigation-button.active {
 
}

.custom-navigation-button:hover {
 
}

.custom-navigation-button[data-click="true"] {
 
}
{% endstylesheet %}

{% javascript %}
/* Add any JavaScript code here, if needed */
{% endjavascript %}
